.about {
    background-color: transparent;
    font-size: 1.1em;
    max-width:100%;
  }
  
  .profile {
    max-width: 18em;
  }
  /* change color if u want to put a background around desc
  .my-details {
    color: red;
  }
  */
  
  .aboutContainer { 
    max-width:90%;
    margin:auto;
  }

  .desc { 
    letter-spacing: 3px;
    font-weight: normal;
  }
  .red { 
    color:#DC143C;
  }

  .row-eq-height { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  } 
